


.blue {
  background-color: rgb(68, 68, 255);
  color: white;
}

.gray {
  background-color: gray;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.yellow {
  background-color: yellow;
  color: red;
}

.light-blue {
  background-color: rgb(90, 202, 247);
  color: white;
}

.dark {
  background-color: black;
  color: white;
}

.choose-btn {
  background-color: #fff0e6;
  border-radius: 10px;
  padding: 12px 14px;
}

.choose-btn:hover {
  border-color: orange;
  background-color: #fed2b5;
}

.overlay {
  position: fixed;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0.558); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.div-container {
  display: flex;
  background-color: rgb(248, 243, 243);
  border-radius: 20px;
  margin-bottom: 20px;
}

.btn-h {
  padding: 20px 80px;
  background: none;
  margin-left: 890px;
  margin-top: 90px;
  border: none;
  font-size: 20px;
  color: green;
}
